.btn {
  color: #333;
  cursor: pointer;
  display: block;
  font-size:25px;
  line-height: 45px;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  width: 100%; 
  
  @media(min-width: 320px) {
    display: inline-block;
  
    &:nth-of-type(even) {
      margin-right: 0;
    }
  }
}

.btn-cus {
    letter-spacing: 0;
}

.btn-cus:after {
  backface-visibility: hidden;
  border: 1px solid rgba(#333, 0);
  bottom: 0px;
  content: " ";
  display: block;
  position: relative;
  width: 0;
}

.btn-1 {
  color: #3a707f;
}

.btn-1:hover:after {
  backface-visibility: hidden;
  border-color: #333;
  transition: width 350ms ease-in-out;
  width: 58%;
}

.btn-1:hover {
  color: #3a707f;
}

.btn-2 {
  color: #277f7b;
}

.btn-2:hover:after {
  backface-visibility: hidden;
  border-color: #333;
  transition: width 350ms ease-in-out;
  width: 63%;
}

.btn-2:hover {
  color: #277f7b;
}

.btn-3 {
  color: #40a6bd;
}

.btn-3:hover:after {
  backface-visibility: hidden;
  border-color: #333;
  transition: width 350ms ease-in-out;
  width: 28%;
}

.btn-3:hover {
  color: #40a6bd;
}

.btn-4 {
  color: #275575;
}

.btn-4:hover:after {
  backface-visibility: hidden;
  border-color: #333;
  transition: width 350ms ease-in-out;
  width: 77%;
}

.btn-4:hover {
  color: #275575;
}
