---
layout: default
---

<div class="row left-xs middle-xs">
  <div class="col-cus-left">
  </div>
  <div class="col-cus-right"> 
    <div class="box">
      <span class="main-descrip">
        builds
      </span>
      <span class="main-link">
        <a href="/software" class="btn btn-cus btn-1">software</a>
      </span>
    </div>
    <div class="box">
      <span class="main-descrip">
        hacks
      </span>
      <span class="main-link">
        <a href="/hardware" class="btn btn-cus btn-2">hardware</a>
      </span>
    </div>
    <div class="box">
      <span class="main-descrip">
        writes a
      </span>
      <span class="main-link">
        <a href="http://blog.kaiyilee.com" class="btn btn-cus btn-3">blog</a>
      </span>
    </div>
    <div class="box">
      <span class="main-descrip">
        is easily
      </span>
      <span class="main-link">
        <a href="/contact" class="btn btn-cus btn-4">contactable</a>
        <!-- <a href="mailto:kaiyi.lee@u.nus.edu?Subject=Contact%20from%20your%20site" target="_top" 
        class="btn btn-cus btn-4">contactable</a> -->
      </span>
    </div>
  </div>
</div>
