---
layout: default
---

<article class="post">
  <div class="ui items">
    <div class="item">
      <div class="image">
        {% assign image = page.images[0] %}
        {% include image.html image=image %}
      </div>
      <div class="content">
        <a class="header">{{ page.title }}</a>
        <div class="meta">
          <span class="cinema">
            Last hacked {{ page.date | date: "%B %e, %Y" }}
          </span>
        </div>
        <div class="description">
          <p>{{ content }}</p>
        </div>
        <div class="extra">
          {% for skill in page.skills %}
            {% if skill.url %}
              <a href="{{skill.url}}" class="ui label">{{ skill.title }}</a>
            {% else %}
              <div class="ui label">{{ skill.title }}</div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="extra">
          <div class="ui mini images">
            {% if page.github %}
              <a href="{{ page.github }}">
                <img class="ui image" src='/images/github.png'>
              </a>
            {% endif %}
            {% if page.devpost %}
              <a href="{{ page.devpost }}">
                <img class="ui image" src='/images/devpost.png'>
              </a>
            {% endif %}
            {% if page.website %}
              <a href="{{ page.website }}">
                <img class="ui image" src='/images/website.png'>
              </a>
            {% endif %}
            {% if page.android %}
              <a href="{{ page.android }}">
                <img class="ui image" src='/images/android.png'>
              </a>
            {% endif %}
            {% if page.youtube %}
              <a href="{{ page.youtube }}">
                <img class="ui image" src='/images/youtube.png'>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<div class="ui divider"></div>

<div id="related">
  {% include related.html %}
</div>
